rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /orgs/{orgId}/{allPaths=**} {
      allow read: if true;
      allow write: if false; // only via signed URLs from Cloud Functions
    }
  }
}
